@font-face {
   font-family: 'kalpurush';
   font-display: swap;
   src: url('file:///C:/Users/raoph/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-23_194407/fonts/kalpurush/font.ttf');
}
